@page "/comments/{ticketId}"
@attribute [Authorize]

@if (AllComments == null || !AllComments.Any())
{
    <p>No comments for this ticket!</p>
    <a href="/comment/@TicketId" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Add Comment</a>
}
else
{
    <div class="container">
        <a href="/comment/@TicketId" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Add Comment</a>
        <hr>
        @foreach (CommentModel comment in AllComments)
        {
            <CommentSection Comment="@comment"></CommentSection>
        }
    </div>
}
