@*<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <div class="col-md-2">
        <img class="img-thumbnail" src="/Uploads/@Comment.PhotoId" width="120" height="120" alt="No image">
    </div>
    <div class="col-md-10">
        <p>@Comment.Content</p>
        <ul class="list-unstyled list-inline media-detail pull-left">
            <li><i class="fa fa-calendar"></i>@Comment.CreatedOn</li>
        </ul>
    </div>
    <hr>*@

<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="/Uploads/@Comment.PhotoId" class="img-fluid rounded-start" alt="No image">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <p class="card-text">
                    @Comment.Content
                </p>
                <p class="card-text"><small class="text-muted">@Comment.CreatedOn</small></p>
            </div>
        </div>
    </div>
</div>