@page "/"
@page "/tickets"
@attribute [Authorize]

@if (AllTickets == null || !AllTickets.Any())
{
    <p>You don't have any tickets and no public tickets are available!</p>
    @if (!CurrentUser.IsAssignedToRole("OfficeSupport") && !CurrentUser.IsAssignedToRole("TechSupport"))
    {
        <a href="/ticket" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Add Ticket</a>
        <hr>
    }
}
else
{
    @if (!CurrentUser.IsAssignedToRole("OfficeSupport") && !CurrentUser.IsAssignedToRole("TechSupport"))
    {
        <a href="/ticket" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Add Ticket</a>
        <hr>
    }
    <div class="row row-cols-1 row-cols-md-3 g-4">


        @foreach (TicketModel ticket in AllTickets)
        {
            <div class="col">
                <TicketCard Ticket="@ticket"></TicketCard>
            </div>
        }
    </div>

}

